body {
  font-family: "Segoe UI", sans-serif;
  background-color: #e9efe9;
  color: #1E2D26;
  margin: 0;
  text-align: center;
}

header {
  background-color: #155D3B;
  color: white;
  padding: 20px;
}

nav {
  background-color: #1F7A4C;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #DFF5EA;
}

section {
  padding: 30px;
}

.container {
  background: white;
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.form-row {
  width: 100%;
  overflow: hidden;
}

.input-group {
  width: 48%;
  float: left;
  margin-right: 4%;
  text-align: left;
}

.input-group:nth-child(2) {
  margin-right: 0;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 18px;
  border: 2px solid #ccc;
  background: #f1f1f1;
  border-radius: 6px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #04AA6D;
  box-shadow: 0 0 8px rgba(4, 170, 109, 0.5);
  background-color: #fff;
  outline: none;
}

label {
  font-weight: bold;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.registerbtn:hover {
  background-color: #03995f;
}

hr {
  border: 1px solid #eee;
  margin-bottom: 20px;
}

footer {
  background-color: #155D3B;
  color: white;
  padding: 15px;
  margin-top: 40px;

}

@media (max-width: 700px) {
  .input-group {
    width: 100%;
    margin-right: 0;
  }
