body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f1e8;
  color: #1E2D26;
  margin: 0;
  text-align: center;
}

header {
  background-color: #155D3B;
  color: white;
  padding: 20px;
}

nav {
  background-color: #1F7A4C;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #DFF5EA;
}

section {
  padding: 30px;
}

.container {
  background: white;
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
}

.row {
  width: 100%;
  overflow: hidden;
}

.input-group {
  width: 48%;
  float: left;
  margin-right: 4%;
  text-align: left;
}

.input-group:last-child {
  margin-right: 0;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 18px;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

label {
  font-weight: bold;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.registerbtn:hover {
  background-color: #03995f;
}

hr {
  border: 1px solid #eee;
  margin-bottom: 20px;
}

footer {
  background-color: #155D3B;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
